@charset "UTF-8";

/*共通部分*/
html {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/*ページトップの画像*/
img#topimg {
    width: 100%;
    height: 740px;
    object-fit: cover;
    object-position: 50% 12%;
}

/*原神攻略の文字*/
#logo {
    background-color: #0bd;
    text-align: center;
}

#logo a {
    font-size: 5rem;
    font-weight: bolder;
}

/*ロゴ下カテゴリー*/
#flexbox {
    display: flex;
    justify-content: center;
    background-color: #0bd;
}

#flexbox a {
    font-size: 3rem;
    padding: 20px 30px;
}

/*ロゴ下カテゴリーが押されたときの色*/
#flexbox a:hover {
    background-color: rgb(0, 215, 253);
}

/*記事とか諸々載せる空間*/
#space {
    border: 4px #0bd solid;
    padding: 20px;
    border-top: none;
    padding-top: 0px;
}

/*ページタイトル:イベント情報*/
h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 20px;
    color: #0bd;
}

/*↑---------------------------ここまで全ページ共通項目----------------------------------------↑*/

/*↓----------------------------ここからページごとのCSS------------------------------------------↓*/
h2 {
    font-size: 1.8rem;
    border-bottom: #0bd solid;
    margin-bottom: 10px;
}

h3 {
    color: #0bd;
    font-size: 1rem;
}

/*イベント詳細情報の背景色、背景幅用class*/
.eventinfolink {
    background-color: #0bd;
    margin-bottom: 50px;
    width: auto;
}

/*文章の文字サイズ*/
p {
    font-size: 0.8rem;
    line-height: 1.7;
}

span {
    color: red;
}