@charset "UTF-8";

/*共通部分*/
html {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*トップ画像トリミング*/
img#topimg {
    width: 100%;
    height: 740px;
    object-fit: cover;
    object-position: 50% 0%;
}

/*ロゴ*/
#logo {
    text-align: center;
    background-color: purple;
}

#logo a {
    font-size: 4.5rem;
    font-weight: bolder;
}

/*ロゴ下カテゴリー*/
#flexbox {
    display: flex;
    justify-content: center;
    background-color: purple;
}

#flexbox a {
    font-size: 3rem;
    padding: 20px 30px;
}

/*ロゴ下カテゴリーが押されたときの色*/
#flexbox a:hover {
    background-color: rgb(177, 0, 177);
}

/*記事とか諸々載せる空間*/
#space {
    border: 4px purple solid;
    padding: 20px;
    border-top: none;
    padding-top: 0px;
}

/*ページタイトル:深境螺旋*/
h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 20px;
    color: purple;
}

/*↑---------------------------ここまで全ページ共通項目----------------------------------------↑*/

/*↓----------------------------ここからページごとのCSS------------------------------------------↓*/
/*螺旋の敵の画像サイズを#spaceに合わせる*/
article img {
    width: 100%;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    color: black;
}

h3 {
    font-size: 4rem;
    text-align: center;
}

h4 {
    font-size: 3.3rem;
    color: purple;
}