@charset "UTF-8";

/*共通部分*/
html {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*トップ画像*/
img#topimg {
    width: 100%;
    height: 850px;
    object-fit: cover;
    object-position: 50% 35%;
}

/*ロゴ*/
#logo {
    text-align: center;
    background-color: darkorange;
}

#logo a {
    font-size: 4.5rem;
    font-weight: bolder;
}

/*ロゴ下カテゴリー*/
#flexbox {
    display: flex;
    justify-content: center;
    background-color: darkorange;
}

#flexbox a {
    font-size: 3rem;
    padding: 20px 30px;
}

/*ロゴ下カテゴリーが押されたときの色*/
#flexbox a:hover {
    background-color: orangered;
}

/*記事とか諸々載せる空間*/
#space {
    border: 4px darkorange solid;
    padding: 20px;
    border-top: none;
    padding-top: 0px;
}

/*ページタイトル:お知らせ*/
h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 20px;
    color: darkorange;
}

/*↑---------------------------ここまで全ページ共通項目----------------------------------------↑*/

/*↓----------------------------ここからページごとのCSS------------------------------------------↓*/




/*↓記事共通項目↓*/

article {
    margin: 40px 0;
}

/*記事の見出し、投稿日*/
article header {
    display: flex;
    justify-content: space-between;
}

/*見出し*/
h2 {
    border-bottom: solid darkorange 5px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/*投稿日*/
.time {
    font-size: 1.8rem;
    border-style: none;
    color: darkorange;
}

/*記事画像*/

/*記事の文章*/
p {
    text-align: justify;
    margin-left: 20px;
    font-size: 2rem;
    line-height: 1.7;
}

/*記事中のリンク色*/
p a {
    color: darkorange;
    border-bottom: solid darkorange;
}

p a:hover {
    color: orangered;
    border-bottom: solid orangered;
}

article img {
    width: 100%;
}

#forpc a {
    color: darkorange;
}

#forpc {
    font-size: 2.5rem;
}